doctype html
html
  head
    title DanceWebsite
    block scripts
    block style
  body 
    nav#navId.navClass
       ul
         div#logo
            img(src="logo.jpg", alt="")
            | HDA

         li #[a(href="/") Home]
         li #[a(href="/") About]
         li #[a(href="/") Help]
         li #[a(href="/") Services]
         li #[a(href="/contact") Contact Us]
    block content
    footer#id3
       div#div12
          |copyright © Hobbs Dance Academy 2020 | Contact-Us :- 01393-25684