@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
#logo
{
    display: flex;
    color: white;
    align-items: center;
}
#logo img{
    height: 27px;
}
#navId{
 background-color: brown;
 padding:10px 13px;
 font-family: 'Open Sans', sans-serif;
 
}
#navId ul
{
    display:flex;  
    flex-direction: row;
    align-items: center;
}

#navId li
{
 list-style: none;

}

#navId li a
{
    text-decoration: none;
    padding: 12px 52px;
    color: white;
    font-weight: bold;
}

#navId li a:hover
{
    color: black;
}

#id1
{
    font-family: 'Open Sans', sans-serif;
    color :rgb(241, 99, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    padding-bottom: 90px;
    height: 500px;
    background-image: url(dance.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #ccc;
}

#id1 div#divid2
{
font-size: 30px;
}

#id2
{
height: 300px;
background-color: rgb(195, 240, 237);
}

#divSponsor
{
    height: 257px;
    margin: 0px 252px;
    max-width: 1000px;
    padding: 2px 30px 9px 14px;
}
.spimage
{
    height: 80%;
    margin: 25px;
}

#id2 h2{
    text-align: center;
    padding:6px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
#id3
{
height: 80px;
background-color: black;
color: white;
display: flex;
justify-content: center;
}

#id4
{
    height: 300px;
    background-color:white;
    margin: auto;
    width: 67%;
    display: block;
}

#id4 h2
{   text-align: center;
    padding:9px 26px 9px 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.card{ 
    background-color: burlywood;
   display: inline-block;
   border: 3px solid black;
   border-radius: 5px;
   width: 24%;
   height: 210px;
   margin: 18px 37px;
}
 .card h3
 {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
     margin: 12px;
 }
 .card-box
 {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .card-img
 {
     height: 120px;
     padding: 0px 14px;
 }
 .card-img img{
     height: inherit;
 }
 .card-content p
 {
     font-size: 20px;
 }
 #div12
 {
     align-items: center;
     padding: 30px;
 }